language: php
php:
    - 5.5
    - 5.4
    - 5.3
env:
    - NO_INTERACTION=1

before_script:
    - sudo apt-get update
    - sudo apt-get install valgrind
    - bzr branch lp:libmemcached/1.0 libmemcached-1.0
    - cd libmemcached-1.0
    - autoreconf -ifv
    - ./configure --prefix="${HOME}/libmemcached-lp"
    - make
    - make install
    - cd ..


script:
    - phpize
    - ./configure --with-memc-lite="${HOME}/libmemcached-lp"
    - make
    - export REPORT_EXIT_STATUS=1
    - export TEST_PHP_EXECUTABLE=`which php`
    - php run-tests.php -d extension=memc_lite.so -d extension_dir=modules -n -m ./tests/*.phpt

