language: php
php:
    - 5.5
    - 5.4
    - 5.3
env:
    - NO_INTERACTION=1

before_script:
    - sudo apt-get update
    - sudo apt-get install valgrind
    - sudo apt-cache show libmemcached-dev

script:
    - phpize
    - ./configure CFLAGS='-I/usr'
    - make
    - export REPORT_EXIT_STATUS=1
    - export TEST_PHP_EXECUTABLE=`which php`
    - php run-tests.php -d extension=memc_lite.so -d extension_dir=modules -n -m ./tests/*.phpt

